@font-face {
  font-family: 'TT Travels';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./TTTravels-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'TT Travels';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./TTTravels-Medium.ttf') format('truetype');
}
