@font-face {
  font-family: 'TT Travels';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('travels-regular-webfont.woff2') format('woff2'),
    url('travels-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'TT Travels';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('travels-medium-webfont.woff2') format('woff2'),
    url('travels-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'TT Travels';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('travels-italic-webfont.woff2') format('woff2'),
    url('travels-italic-webfont.woff') format('woff');
}
